.index-container {
    padding: 20px;
}

.reports-container {
    width: 100%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-reports {
    color: black;
    transition: all ease-in-out 0.1s;
}

.item-reports:hover {
    transform: translateX(1%);
}