.main-container {
    height: 100%;
    width: 100%;
}

.navbar {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}

.form-container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}